.profile__edit-btn {
  background-image: url('../../../images/edit_button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  padding: 0;
  grid-row: 1/2;
  grid-column: -1/-2;
  cursor: pointer;
  transition: opacity .5s ease;
  align-self: center;
  margin: 0;
}

.profile__edit-btn:hover {
  opacity: .6;
}


@media screen and (max-width: 540px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
}
