.popup__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  margin: 0;
  padding-top: 34px;
  color: #000;
}


@media screen and (max-width:420px) {
  .popup__heading {
    font-size: 18px;
    line-height: 17px;
    padding-top: 25px;
  }
}
