.page {
  background: #000;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  color: #fff;
  font-weight: 400;
  font-family: 'Inter', "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  padding: 0 200px 0 200px;
}

@media screen and (max-width: 1279px) {
  .page {
    padding: 0 100px 0 100px;
  }
}


@media screen and (max-width: 1023px) {
  .page {
    padding: 0 80px 0 80px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 0 50px 0 50px;
  }
}

@media screen and (max-width: 464px) {
  .page {
    padding: 0;
  }
}
