.header__logo {
  display: block;
  max-width: 142px;
  width: 100%;
  transition: opacity .5s ease;
  object-fit: cover;
}


@media screen and (max-width: 1023px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    padding-left: 25px;
    max-width: 103.74px;
  }
}
