.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}


@media screen and (max-width: 830px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
