.card__like-btn {
  display: block;
  background-image: url('../../../images/heart_btn.svg');
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-size: 22px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 22px;
  height: 19px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity .5s ease;
  border: none;
}

.card__like-btn:hover {
  opacity: .5;
}
